.main {
    min-height: 86vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* navbar search input */
.custom-width {
    width: 100%;
}
@media (min-width: 768px) {
    .custom-width {
        width: 40%;
    }
}

/* Carousel Style */
.carousel {
    height: 60vh;
}

.carousel img {
    display: block;
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.carousel-caption-bg {
    background-color: rgba(128, 128, 128, 0.596);
    backdrop-filter: blur(3px);
}
/* End Carousel Style */
